h2 Rating Definitions
dl
  dt Improvement Needed
  dd Requires Coaching
    ul
      li This employee requires coaching and specific direction in order to be a solid performer in this specific task/competency, or
      li This employee is not meeting the expectations of this task/competency

  dt Developing
  dd New to task, skill or job, still learning
    ul
      li This employee is new to their role or to this specific task/competency, or
      li This employee is still learning and developing in this task/competency and requires time to become more skilled and practiced

  dt Meets Expectations
  dd Consistently fulfills expectations to standard
    ul
      li This employee has acquired the knowledge and skill and performs this task/competency consistently to standard expectations, or
      li This employee produces the quality and quantity of work required in this specifici taks/competency and is considerd a good and valuable employee

  dt Above Expectations
  dd Consistently above expectations - value added
    ul
      li This employee is accomplished in this task/competency, is able to and is engaged in mentoring and coaching others
      li This employee can dapt their skill and knowledge of this task/competency to match the situation at hand
      li This employee proactively collaborates with others to achieve/set higher standards in this task/competency