extends layouts/default
include mixins

block head
  +head
block header
  h1 Hey
block content
  h2 Why Must I Be a Crustacean in Love?
  p You know, I was God once. Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. No argument here.
  h2 The Late Philip J. Fry
  p Oh no! The professor will hit me! But if Zoidberg 'fixes' it&hellip; then perhaps gifts! Look, last night was a mistake. Why, those are the Grunka-Lunkas! They work here in the Slurm factory.
  ul.default-ul
    li Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip;
    li Oh God, what have I done?
    li Who are those horrible orange men?