extends layouts/default
include mixins

block head
  +head

block content
  +header("Sign up")
    p Text
  div.container
    div.row
      div.col-md-12
        section.register
          +form_signUp